h1 {color: red}

.purple {color: purple}

li {
  list-style-type: square
}

ol {
  list-style-type: upper-roman
}

div {
  margin-top: 20px;
  border-top: solid thin;
  border-bottom: solid thin;
  padding-bottom: 20px;
}

.clickCount {
  border-radius: 5px;
}